/* Primera sección - Navbar */
body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
nav{
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: bold;   
}
nav ul a {
    color: $white_color;
    padding-left: 25px;
    padding-right: 44px;
}
nav .nav-wrapper {
    margin-left: 29%;
    padding-top: 4%;
}
.container-one{
    background-image: url(../assets/img/bg1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100px;
}
header{
    margin-top: 15%;
    color: $white_color;
}
/* Boton 
*/
.waves-effect{
     @include btn();
}
/* Segunda sección */
.container-two{
     @include padding();
background-color: $whitesmoke_color;
    h5{
    color: $green_color;
    text-transform: uppercase;
    }
    img{
        height: 59vh;
    }
}
/* Tercera sección */
.container-three{
    padding-left: 3%;
    padding-top: 7%;
 
    h4{
        color: $green_color;
    }
}
/* Cuarta sección */
.container-four{
    background-color: $whitesmoke_color;
   @include padding();
       text-align: center  
}

/* Footer */
footer{
    color: black;
 @include padding();
 a{
     border-right: 1px solid $green_color;
     padding-right: 10px;
     color: black;
     font-weight: bold;
     text-transform: uppercase;
 }
}


