/* Primera sección - Navbar */
body{
    font-family: 'Raleway', sans-serif;
}
nav{
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: bold;   
}
nav ul a {
    color: $white_color;
    padding-left: 25px;
    padding-right: 46px;
}
nav .nav-menu {
    margin-left: 29%;
    padding-top: 4%;
}
.container-fluid{
    background-image: url(../dist/img/bg1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
header{
    margin-top: 15%;
    color: $white_color;
}
/* Segunda sección */
.container-two{
     @include padding();
background-color: $whitesmoke_color;
    h5{
    color: $green_color;
    text-transform: uppercase;
    }
    img{
        height: 59vh;
    }
}


